/* General CSS Styling Rules */

@import url('https://fonts.googleapis.com/css2?family=Mina&family=Rubik&display=swap');

:root {
    background-color: #e4e4e4;
    font-size: 62.5%
}

* {
    box-sizing: border-box;
    font-family: 'Mina', 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    color: #3f3f3f;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: #56a5eb;
    margin-bottom: 3.4rem;
}

h1 > span {
    font-size: 4.2rem;
    font-weight: 300;
}

h1 > span {
    font-style: normal;
    font-size: 5.4rem;
    color: #56a5eb;
    margin-bottom: 3.4rem;
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.4rem;
    font-weight: 500;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Button Styling*/

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 30rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translate(-0.1rem);
    transition: transform 150ms;
}

/* Home Page Text*/

.main-txt {
    text-align: center;
    padding-top: .3rem;
    font-size: 2.1rem;
    line-height: 3.4rem;
}

.play {
    display: inline-block;

}

/* End game page text Styling */

#final-score {
    color: #ef1010;
}

#final-time-minutes, #final-time-seconds {
    color: #ef1010;
}

/* Footer */

footer {
    text-align: center;
    font-size: 20px;
}

.git {
    color: black;
}

/* Media Query */

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 300px) {

}